.Footer {
text-align: center;
}

.EnrollDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EnrollDiv button {
    padding: 10px 28px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.EnrollDiv button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px #d4d4d4;
  }

.EnrollDiv p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 15px;
}

.FooterNav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 4em;
    list-style: none;
    margin-top: 10vh;
    padding: 2em;
}

.FooterNav a {
    padding: 12px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.FooterNav a:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px #d4d4d4;
  }