.Form {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.7em;
    border-radius: 8px;
}

label {
    padding: .3em;
}


.Form input[type='text'], .Form input[  type='email'], .Form textarea {
    background: transparent;
    padding: 7px;
    margin-bottom: 1em;
    border: none;
    border-bottom: 2px solid #91E2A3;
    transition: all 0.3s;   
}

.Form textarea {
    height: 20vh;
}

.Form h5 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1em;
    border-bottom: 3px solid #333;
    width: 330px;
    padding-bottom: .5em;
}

.Form h4 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1em;
    border-bottom: 3px solid #333;
    width: 200px;
    padding-bottom: .5em;
}


.Form input[type='text']:focus, 
.Form input[type='email']:focus,
.Form textarea:focus{
    outline: none;
    border-bottom: 2px solid #73af80;
}

.Form input[type='submit'] {
    background-color: transparent;
    border: 3px solid #91E2A3;
    width: 150px;
    padding: 8px 8px;
    margin-left: auto;
    transition: all .3s;
}

.Form input[type='submit']:hover {
    background-color: #91E2A3;
    color: #fff;
}


/*----------------------------------------------------------------------------------------------------------*/
/*E N R O L L  F O R M */
/*----------------------------------------------------------------------------------------------------------*/



select {
    border: none;
    padding: .3em;
    border-radius: 3px;
    margin-top: .3em;
    margin-bottom: .3em;
    cursor: pointer;
}



select:focus {
    outline: 2.5px solid #91E2A3;
}

.form-span p {
    font-size: .8rem;

}

.form-span label {
    font-size: .9rem;
}

input[type='checkbox'] {
    margin-left: .8em;
}

input[type='file'] {
    padding: .5em 0 1em 0;
}


@media (max-width: 800px) {
    .Form {
        width: 92%;
    }

    .Form input[type='text'], .Form input[type='email'], .Form textarea {
    font-size: .8rem;
    }

    .Form h5 {
        text-transform: uppercase;
        color: #333;
        font-size: 1.4rem;
        margin-bottom: 1em;
        border-bottom: 3px solid #333;
        width: 250px;
        padding-bottom: .5em;
    }

    select {
        border: none;
        padding: .2em;
        margin-top: .2em;
        margin-bottom: .2em;
    }

    .form-span p {
        font-size: .7rem;
    }

    .form-span label {
        font-size: .9rem;
    }

    input[type='checkbox'] {
        margin-left: .5em;
    }

    input[type='file'] {
    padding: .5em 0 1em 0;
}


    
}