.header {
    display: grid;
    grid-template-areas: "logo nav";
    position: fixed;
    z-index: 999;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.8);
    height: 12vh;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.navbar {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

.menuIcon {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
    cursor: pointer;

}

@media (max-width: 700px) {
    .header {
        grid-template-areas: "logo burger" "nav nav";
        
    }

    .navbar {
        grid-template-columns: none;
        grid-template-rows: repeat(6, auto);
        row-gap: 20px;
        background-color:  rgba(255, 255, 255, 0.8);
        opacity: 1;
    }

    .menuIcon {
        display: block;
    }
}